*{
    margin: 0;
    padding: 0;
}
.container{
 width: 1200px;
 margin: auto;

}
section{
    padding: 50px 0;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.navlink{
    margin: 0 10px;
    cursor: pointer;
    font-weight: 300;

 }   
.regbutton{
    background-color: #1D4ED8;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 15px;
 }

 /*head section ends here*/

.hero img{
    width: 100%;
 }
.hero-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;

}
.hero{
    position: relative;
    height: 600px;
    overflow: hidden;
    padding: 0;
 }
  /*image section er kaj ekhane shesh*/

.hero-content{
    text-align: center;
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}
.hero-content p{
    font-size: 18px;
    margin-top: 20px;
}
.hero-content .regbutton{
    align-self: center;
    padding: 10px 20px;
    font-size: 17px;
}

#speakers h4{
    font-size: 20px;
    padding: 5px 15px;
}
.speaker-card p{
    color: #1D4ED8;
    padding: 5px 15px;
    font-size: 15px;
}
.speaker-card img{
    width: 100%;
}
.speaker-card span{
    font-size: smaller;
    padding: 5px 15px;
}
.speaker-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.speaker-card{
    border-radius: 5px;
    border: 2px solid antiquewhite;
        padding-bottom: 15px;
}
 h2{
    text-align: center;
    font-size: 45px;
    padding-bottom: 35px;
}
#pricing-header h1{
    text-align: center;
    font-size: 48px;
}
#pricing-header p{
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    padding-top: 15px;
    color: rgb(82, 81, 81);
}
.pricing-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 55px;
    gap: 30px;
}
.pricing-card{
    border:1px solid whitesmoke;
    padding: 30px;   
    border-radius: 10px;
}
.pricing-card hr{
  margin: 15px 0;
  height: 0;
  border: none;
  border-top: 1px solid #888888;
}
.pricing-card ul{
  padding-left: 20px;
}
.pricing-card ul li{
  padding: 5px 0;
}
.pricing-card ul li::marker{
  color: #2563EB;
}
.pricing-card ul li{
  color: #333333;
  font-size: 16px;
  font-weight: 300px;
  margin-bottom: 5px;
}
.plan-name{
    font-size: 12px;
    font-weight: 600;
    color: #888888;
}
.price{
  font-size: 40px;
  padding: 5px 0;
}
.persons{
    font-size: 12px;
    font-weight: 300;
    color: #888888;
}
.pricing-cta{
    text-decoration: none;
    color: #2563EB;
    border: 1px solid #2563EB;
    border-radius: 5px;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-top: 20px;
    text-align: center;
    font-weight: 900;
}
#pro{
    background-color: #0D1B2A;
    color: white;
}
#pro-color{
    color:#888888 ;
}
#get-pro{
    background-color: #2563EB;
    color: white;
}
#contact{
    color:#0D1B2A;
    border: 1px solid #0D1B2A;
}
